/games_list.csv
/google_data.csv
/metacritic_data.csv

.idea
/coef.csv
/top games_list.csv
/top 150 games_list.csv
/top google_data.csv
/top metacritic_data.csv
/top_google_data.csv
/top_metacritic_data.csv
